//HERO SECTION STYLES

.hero-section {
  height: 70vh;
  background-color: $bg;
  width: 100%;
}

.hero-name {
  font-family: $mainFont, sans-serif;
  font-weight: bolder;
  font-size: $large;
  margin-top: 4rem;
  letter-spacing: 4px;
  color: $oneMore;
}

.pro {
  color: $titles;
  font-size: $medium;
  font-weight: bold;
  font-family: $secondaryFont, sans-serif;
  padding: $tiny;
}

.bg-text {
  background: url("../../Images/retro.jpg") no-repeat center center fixed;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.9)),
    url("../../Images/retro.jpg");
  color: $titles;
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  box-shadow: 1px 1px 4px $shadowGray;
}

.contact-btn-container {
  border: 1px solid $shadowGray;
  background-color: transparent;
  height: $large;
  margin-top: $small;
  transition: all linear 0.5s;
  border-radius: 10px;
  &:hover {
    color: $bg;
    background-color: $shadowGray;
  }
}

.contact-btn {
  font-family: $mainFont, sans-serif;
  text-decoration: none;
  color: $shadowGray;
  font-size: $medium;
  font-weight: bolder;
  width: 100%;
  height: 100%;
  padding: $tiny;
  transition: all linear 0.5s;
  border-radius: 10px;
}

.contact-btn:hover {
  color: $bg;
  background-color: $shadowGray;
}

.projects-btn-container {
  border: 1px solid $hightlight2;
  background-color: transparent;
  height: $large;
  margin-bottom: $small;
  border-radius: 10px;
  transition: all linear 0.5s;

  &:hover {
    color: $bg2;
    background-color: $hightlight2;
  }
}

.projects-btn {
  font-family: $mainFont, sans-serif;
  text-decoration: none;
  color: $hightlight2;
  font-size: $medium;
  font-weight: bolder;
  width: 100%;
  height: 100%;
  padding: $tiny;
  transition: all linear 0.5s;
  border-radius: 10px;
}

.projects-btn:hover {
  color: $bg2;
  background-color: $hightlight2;
}

.left-side {
  display: grid;
}

.bottom {
  background: linear-gradient(to right, $bg2, white 50%);
  color: white;
  width: 100%;
  height: 200px;
}

.aboutMe-container {
  margin-top: 4rem;
  width: 70%;
  height: 80%;
  color: $titles;
}
