.navbar {
  background-color: $samplebg;
  color: $titles;
  padding: 0 5% 1% 5%;
}

.logo-img {
  width: 4.5rem;
  height: 4.5rem;
  padding: 0.1rem;
}

.name {
  font-family: $mainFont, sans-serif;
  font-size: $medium;
  background: -webkit-linear-gradient($oneMore, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $titles;
  font-weight: bolder;
  padding: 1px;
  letter-spacing: 4px;
  margin-top: 6px;
  text-decoration: none;
}

.json {
  color: $hightlight2;
  padding: 0.5px;
  margin-top: 5px;
  font-weight: bolder;
}

.menu-btn-container {
  background-color: $bg2;
  margin-top: 6px;
}

.menu-btn-bar {
  color: $oneMore;
  font-size: 10rem;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bolder;
  animation: heartBeat 3s linear infinite;
  margin-top: 2rem;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
    color: $titles;
    font-weight: bolder;
  }

  100% {
    transform: scale(1);
    color: $oneMore;
  }
}
