.projects-section {
  height: 100%;
  background-color: $samplebg;
  color: $titles;
  padding: 5% 9%;
  font-family: $secondaryFont;
  margin-top: 30%;
  background: linear-gradient(109.6deg, $samplebg 10.2%, $sampleCard 99.2%);
}

.projects-title {
  font-family: $mainFont;
  color: $titles;
  font-weight: bolder;
  font-size: $large;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 2%;
  margin-bottom: 5%;
  margin-top: 5%;
}
