//MODAL
.aside-overlay {
  color: $titles;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  z-index: -1s;
}

.show-aside {
  visibility: visible;
  z-index: 10;
}

.aside-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}

.left-aside-container {
  background-color: $bg;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.right-aside-container {
  width: 100%;
  color: $titles;
  display: grid;
  grid-template-rows: 70% 30%;
  background: linear-gradient(to right, $bg, $bg2);
  padding-top: $medium;
}

.top-menu {
  display: grid;
  place-items: center;
}
.nav-link {
  color: $titles;
  font-size: $medium;
  font-family: $mainFont;
  font-weight: bolder;
  border-radius: 8px;
  margin-left: 8px;
  width: 12rem;
  height: 4rem;
  text-align: center;
  padding: $small;
  margin-bottom: $medium;
  line-height: $small;
}

.nav-link:hover {
  color: $bg;
  opacity: 0.98;
  background-color: $titles;
}

.close-btn {
  padding: 0.5rem;
  font-size: $medium;
  color: $hightlight2;
  margin-top: 0.9rem;
  cursor: pointer;
  margin-bottom: $medium;
  border-radius: 50%;
  line-height: $tiny;
}

.close-btn:hover {
  transform: scale(1.2);
  color: $titles;
  border: 2px solid $hightlight2;
}

.bottom-social {
  font-size: $medium;
  color: $titles;
  padding: $medium;
  border-radius: 50%;
}

.bottom-social:hover {
  color: $bg;
  background-color: $titles;
}

.sign-container {
  font-size: $small;
  margin-top: 7rem;
}

.heart {
  color: $hightlight;
}

.made {
  letter-spacing: 3px;
}
