.navbar {
  background-color: $bg;
  color: $titles;
  padding: 0 5%;
}

.logo-img {
  width: 6rem;
  padding: 0.1rem;
}

.logo {
  margin-top: 18px;
}

.name {
  font-family: $mainFont, sans-serif;
  font-weight: bolder;
  padding: 1px;
  letter-spacing: 4px;
  margin-top: 5px;
}

.json {
  color: $hightlight2;
  font-size: $medium;
  padding: 0.5px;
  margin-top: 5px;
  font-weight: bolder;
}

.far {
  color: $hightlight2;
  margin-left: 2px;
}

.menu-btn {
  color: $lightShadowGray;
  font-size: $medium;
  box-shadow: 1px 1px 5px $lightShadowGray;
  cursor: pointer;
  animation: heartBeat 3s ease-in-out infinite;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
    color: $shadowGray;
  }

  100% {
    transform: scale(1);
    color: $titles;
  }
}
