.projects-section {
  min-height: 100%;
  background-color: $samplebg;
  color: $titles;
  padding: 13% 9%;
}

.projects-title {
  font-family: $secondaryFont;
  color: $titles;
  font-weight: bolder;
  font-size: $large;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 2%;
  margin-bottom: 5%;
}

.project-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.project-card-top {
  width: 100%;
  display: flex;
}
