.projects-section {
  min-height: 100%;
  background-color: $bg;
  color: $titles;
  padding: 12% 9%;
}

.projects-title {
  font-size: $secondaryFont;
  letter-spacing: 0.5rem;
  text-align: center;
  padding: 2%;
}
