.projects-section {
  min-height: 100%;
  background-color: $samplebg;
  color: $titles;
  padding: 13% 9%;
}

.projects-title {
  font-family: $secondaryFont;
  color: $titles;
  font-weight: bolder;
  font-size: $large;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 2%;
}
