//RESPONSIVE

@media (min-width: 1700px) {
  .project-card-top-text p {
    padding-bottom: 5rem;
  }

  .visit-btn,
  .more-info-btn {
    font-size: 2rem;
  }

  .project-card-top-btn-container {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

@media (min-width: 1500px) {
  .project-card-top-text p {
    font-size: 1.8rem;
  }
}

@media (max-width: 1100px) {
  .projects-title {
    margin-top: 10%;
  }
  .made {
    letter-spacing: 0;
  }
}

@media (max-width: 950px) {
  .projects-title {
    margin-top: 30%;
  }
  .aboutMe-leftCard {
    font-size: 1.6rem;
  }
  .aboutMe-rightCard {
    font-size: 1.2rem;
  }
  .aside-container {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .hero-section {
    height: 50vh;
  }
  .hero-section-aboutMe {
    height: 100%;
  }
}

@media (max-width: 890px) {
  .projects-title {
    margin-top: 30%;
  }
  .project-card {
    height: 80vh;
    width: 100%;
    margin-bottom: 25%;
  }
  .project-card-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .project-card-top-img {
    width: 70%;
    max-height: 20%;
    margin: auto;
  }

  .project-card-top-img img {
    object-fit: contain;
    width: 100%;
  }

  .project-card-top-text {
    width: 100%;
  }

  .aside-container {
    display: grid;
    grid-template-columns: 0% 100%;
  }

  .hero-section-aboutMe {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .aboutMe-leftCard {
    width: 70%;
    height: 30vh;
    margin-top: 18%;
  }

  .aboutMe-rightCard {
    width: 70%;
    height: 30vh;
    margin-top: 5%;
  }

  .projects-title {
    margin-top: 40vh;
  }
}

@media (max-width: 890px) {
  .aboutMe-leftCard {
    margin-top: 25%;
  }

  .projects-title {
    margin-top: 70%;
  }

  .about {
    height: 100%;
  }

  .about-main-container {
    flex-direction: column;
  }

  .about-container-left {
    width: 80%;
    margin: auto;
    margin-bottom: 10%;
  }

  .about-container-right {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 680px) {
  .projects-title {
    margin-top: 80%;
  }

  .project-card {
    height: 70vh;
    width: 100%;
    margin-bottom: 15%;
  }

  .contact-form {
    width: 80%;
  }
  .under-construction {
    font-size: 2.2rem;
    padding: 0 2%;
  }
}

@media (max-width: 640px) {
  .projects-title {
    margin-top: 90%;
  }

  .aboutMe-rightCard h3 {
    font-size: 1.2rem;
  }
  .aboutMe-leftCard {
    font-size: 1.2rem;
  }
}

@media (max-width: 550px) {
  .projects-title {
    margin-top: 115%;
  }
}
